<div class="row input-file" dropZone [disabled]="dropZoneDisabled" (fileDragOver)="onFileDragOver()" (fileDragLeave)="onFileDragLeave()" (fileDrop)="onFileDrop($event)">
    <div class="col-12 drop-zone" *ngIf="isDragOver">
        <div class="drop-zone-message">
        </div>
    </div>
    <div class="col-12" *ngIf="isNotNullOrEmpty() && !isDragOver">
        <div class="file-preview">
            <button type="button" class="close" (click)="onRemove()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="file-preview-container">
                <div class="file-preview-item" *ngFor="let file of model; let i = index">
                    <button type="button" class="close" (click)="onRemoveFile(i)">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="file-content">
                        <img src="{{ file.icon }}" *ngIf="file.icon"> 
                    </div>
                    <div class="file-thumbnail-footer">
                        <div class="file-footer-caption">
                            <p>{{ file.file.name }}</p>
                            <samp>{{ file.size }}</samp>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 input-group file-caption-main" *ngIf="!isDragOver">
        <div class="form-control" [ngClass]="{'input-active': isInputActive}">
            <div class="file-caption-name" tabindex="500">
                <i class="glyphicon glyphicon-file kv-caption-icon" *ngIf="isNotNullOrEmpty()"></i>
                <span>{{ getInputText() }}</span>
            </div>
        </div>
        <span class="input-group-btn">
                <button class="btn btn-secondary btn-action" type="button" title="Clear selected files" tabindex="500" (click)="onRemove()" *ngIf="isNotNullOrEmpty()">
                    <i class="glyphicon glyphicon-trash"></i>  
                    <span class="hidden-xs-down">{{ inputRemove }}</span>
                </button>
        </span>
        <span class="input-group-btn">
                <button class="btn btn-secondary btn-action" type="button" title="Upload selected files" tabindex="500" (click)="onUpload()" *ngIf="isNotNullOrEmpty()">
                    <i class="glyphicon glyphicon-upload"></i>  
                    <span class="hidden-xs-down">Upload</span>
                </button>
        </span>
        <span class="input-group-btn">
                <div class="btn btn-primary btn-file" tabindex="500" [ngClass]="{'disabled': dropZoneDisabled}">
                    <i class="glyphicon glyphicon-folder-open"></i>
                    <span class="hidden-xs-down">{{ inputBrowse }}</span>
                    <input id="{{ inputId }}" class="file" name="input-file-name" type="file" 
                        accept="{{ inputAccept }}" 
                        [attr.multiple]="inputMaxFiles > 1 ? true : null" 
                        [disabled]="dropZoneDisabled"
                        (change)="onChange($event)" 
                        (blur)="onBlur()" 
                        (focus)="onFocus()" 
                        #inputFile>
                </div>
        </span>
    </div>
</div>